body {
	color: blue;
	padding: 1em;
	border: solid thick red;
	margin: 0 auto;
	width: 70%;
	min-width: 720px;
}
div#skipnav {
	top: 5px;
	left: 5px;
	position: relative;
	right: 12.5%;
}
div.info{ 
width: 40%;
font-size: 1.2em;
float: left;
}
 nav {
	clear: left;
}
/* navigation menu styles */
nav ul {
	list-style-type: none;
}
nav ul li {
	float: left;
	margin-right: 0.5em;
}
nav ul li a {
	padding: 0.25em 1em;
	text-decoration: none; /* no underline */
	background-color: #EBF5FF; /* pale bluish white */
	color: #4312AE; /* dark blue */
	border: 2px solid black;
	border-top-left-radius: 1em 1em; /* rounded corner! */
	border-top-right-radius: 1em 1em; /* another rounded corner! */
}
nav ul li a: hover, nav ul li a:focus{
	color: blue;
	background-color: white;
	font-weight: bold;
	clear: left;
}
    div#clock { 
      /* your style declarations go here */
    }

