body {
	position: static;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
body {
	position: static;
	width: 200px;
	height: 200px;
	background: 44acf;
}
body {
	position: static;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
body{
	width:1000px;
	min-width: 720px;
	margin: 0 auto;
}
div#skipnav {
	top: 5px;
	left: 5px;
	position: relative;
	right: 12.5%
}
div.info {
	width: 40%
}

 img {
	 max-width: 100%;
}
